<div class="flex modal-header text-center">
    <h5>{{label}} Khasra</h5>
    <div class="close-modal" (click)="close()">
        <i class="fa fa-close" style="cursor: pointer;"></i>
    </div>
</div>
<div class="modal-body">
    <form [formGroup]="khasraForm" (ngSubmit)="submit($event,khasraForm.value)">
        <div class="row">
            <div class="col-md-3 mb-2">
                <label class="form-label">Village</label>
                <ngx-select-dropdown [config]="config" [options]="villageList" formControlName="village">
                </ngx-select-dropdown>
                @if (khasraForm.get('village')?.invalid && (khasraForm.get('village')?.dirty ||
                khasraForm.get('village')?.touched)) {
                <span class="text-danger mt-2">
                    Village is Required
                </span>
                }
            </div>
            <div class="col-md-3 mb-2">
                <label class="form-label">Khasra No.</label>
                <input type="text" class="form-control" formControlName="khasra_no" placeholder="Enter Khasra No." />
                @if(khasraForm.get('khasra_no')?.invalid && (khasraForm.get('khasra_no')?.dirty ||
                khasraForm.get('khasra_no')?.touched)) {
                <span class="text-danger mt-2">
                    Khasra No. is Required
                </span>
                }
            </div>

            <div class="col-md-3 mb-2">
                <label class="form-label">Total Area</label>
                <input type="number" class="form-control" formControlName="total_area" placeholder="Enter Total Area" />
                @if(khasraForm.get('total_area')?.invalid && (khasraForm.get('total_area')?.dirty ||
                khasraForm.get('total_area')?.touched)) {
                <span class="text-danger mt-2">
                    @if(khasraForm.get('total_area')?.errors?.['required']) {
                    Total Area is required
                    }
                    @if(khasraForm.get('total_area')?.errors?.['min']) {
                    Total Area must be greater than 0
                    }
                </span>
                }
            </div>
            <div class="col-md-3 mb-2">
                <label class="form-label">Acquisition Area</label>
                <input type="number" class="form-control" formControlName="acquisition_area"
                    placeholder="Enter Acquisition Area" />
                @if(khasraForm.get('acquisition_area')?.invalid && (khasraForm.get('acquisition_area')?.dirty ||
                khasraForm.get('acquisition_area')?.touched)) {
                <span class="text-danger mt-2">
                    Acquisition Area is Required
                </span>
                }
            </div>
            <div class="col-md-3 mb-2">
                <label class="form-label">Project Area</label>
                <input type="number" class="form-control" formControlName="project_area"
                    placeholder="Enter Project Area" />
                @if(khasraForm.get('project_area')?.invalid && (khasraForm.get('project_area')?.dirty ||
                khasraForm.get('project_area')?.touched)) {
                <span class="text-danger mt-2">
                    Project Area is Required
                </span>
                }
            </div>
            <div class="col-md-3 mb-2">
                <label class="form-label">Notified Area</label>
                <input type="number" class="form-control" formControlName="notified_area"
                    placeholder="Enter Notified Area" />
                @if(khasraForm.get('notified_area')?.invalid && (khasraForm.get('notified_area')?.dirty ||
                khasraForm.get('notified_area')?.touched)) {
                <span class="text-danger mt-2">
                    Notified Area is Required
                </span>
                }
            </div>
            <div class="col-md-3 mb-2">
                <label class="form-label">LMC Area</label>
                <input type="number" class="form-control" formControlName="lmc_area" placeholder="Enter LMC Area" />
                @if(khasraForm.get('lmc_area')?.invalid && (khasraForm.get('lmc_area')?.dirty ||
                khasraForm.get('lmc_area')?.touched)) {
                <span class="text-danger mt-2">
                    LMC Area is Required
                </span>
                }
            </div>
        </div>
        <div class="footer">
            <div class="button-container">
                <button class="btn btn-success" type="submit">Submit</button>
                <button class="btn btn-danger" type="button" (click)="close()">Cancel</button>
            </div>
        </div>
    </form>
</div>