<div class="card">
    <div class="card-header">
        <div class="header-part">
            <span>Plot Share</span>
            <div class="counting">
                <span>
                    {{ pagesize.count > 0 ? startValue : 0 }} -
                    {{ pagesize.count > 0 ? lastValue : 0 }}
                    OF {{ pagesize.count > 0 ? pagesize.count : 0 }} Plot
                </span>
            </div>
            @if (pagesize.count && pagesize.count > 0) {
            <div class="row">
                <div class="d-flex justify-content-center">
                    <pagination-controls id="zoneID" [maxSize]="10" [responsive]="true" [nextLabel]="''"
                        [previousLabel]="''" (pageChange)="onTablePageChange($event)">
                    </pagination-controls>
                </div>
            </div>
            }
        </div>
    </div>
    <div class="card-body">
        <div class="header-container flex flex-col sm:flex-row justify-between gap-4 mb-4">
            <form [formGroup]="plotform" class="w-full  flex flex-col sm:flex-row gap-4">
                <div class="lg:w-[300px]">
                    <ngx-select-dropdown [config]="config" [options]="villageList" formControlName="village"
                        (change)="changeVillage($event)" >
                    </ngx-select-dropdown>
                </div>
                <div class="search-form sm:w-64 relative">
                    <input placeholder="Search for..." type="text" formControlName="search"
                        (input)="onSearchPlot($event)" class="form-control search-input" />
                    <button type="button"
                        class="absolute right-2 top-1/2 -translate-y-1/2 text-gray-500 hover:text-gray-700">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </form>
            <div class="w-full sm:w-auto flex flex-col sm:flex-row gap-4 sm:items-center sm:justify-end">
                <div class="flex items-center justify-between sm:justify-start space-x-2">
                    <label for="itemsPerPage" class="text-sm text-gray-700 whitespace-nowrap">Items per page:</label>
                    <select id="itemsPerPage"
                        class="block w-20 p-2 bg-white border border-gray-300 rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-gray-700"
                        [(ngModel)]="pagesize.limit" (change)="onPageSizeChange($event)">
                        @for (size of [25, 50, 100]; track $index) {
                        <option [value]="size">{{ size }}</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="overflow-auto">
                    <div id="datatable_wrapper">
                        @if (spinnerLoading ) {
                        <app-loader />
                        } @else {
                        <table id="datatable" class="table table-striped nowrap dataTable no-footer dtr-inline"
                            role="grid" #TABLE aria-describedby="datatable_info" style="width: 100%" width="100%">
                            <thead>
                                <tr role="row">
                                    @for (vehicleHeading of columns; track $index) {
                                    <th>
                                        <span>{{ vehicleHeading?.title }}</span>
                                    </th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of plotList | paginate: {id: 'zoneID',
                                itemsPerPage: pagesize.limit, currentPage: pagesize.offset, totalItems:
                                pagesize.count}; track $index) {
                                <tr>
                                    <td>
                                        {{ (pagesize.offset - 1) * pagesize.limit + $index + 1 }}
                                    </td>
                                    <td>{{item?.khasra_no || 0}}</td>
                                    <td>{{item?.total_area || 0}}</td>
                                    <td>{{item?.acquition_area || 0}}</td>
                                    <td>{{item?.acquition_area || 0}}</td>
                                    <td>{{item?.village_name || 0}}</td>
                                </tr>
                                }

                            </tbody>
                        </table>
                        @if(!plotList?.length) {
                        <div class="text-center py-4 text-gray-500">
                            No Data Available
                        </div>
                        }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>